h1{
  color: black;
  background-color: lightpink;
  font-family: Ruslan Display;
}
ellipse:hover{
fill: lightblue;

}
p{
  color: black;
  background-color: lightpink;
}
h2{
  color: red;
}
html{
  background-color: white;
}
